@import "../responsive.css";

:root {
  --translate-x: 0;
  
  --menu-width: 100vw;

  --function-opacity: 0;
  
  --content-move-y: 0;
  --content-opacity: 1;
}

.menu-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

/* ------------------------------------ function ------------------------------------ */

.function-container {
  display: flex;
  justify-content: center;
  gap: 2.5rem;

  transform: translateY(var(--content-move-y));
  
  opacity: var(--function-opacity);
  transition: all .2s;
}


.function-item-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;

  min-width: 10rem;
  min-height: 12rem;

  padding-bottom: 5rem;
  
  border: none;
  background: none;
}

.function-item-icon {
  width: 3rem;
  height: auto;

  border-radius: .1rem;

  color: var(--color-light);

  filter: brightness(.8);

  transition: all .2s;
}

.function-item-icon-focused {
  width: 4rem;
  height: auto;

  border-radius: .1rem;

  color: var(--color-light);

  filter: 
    drop-shadow(0 0 0px #fff) 
    drop-shadow(0 0 8px #fff) 
    brightness(1);
}

.function-item-label {
  font-size: 1.25rem;

  visibility: hidden;
  opacity: 0;

  color: var(--color-light);

  transition: all .2s;
}

.function-item-label-focused {
  font-size: 1.25rem;
  
  text-shadow:
  0 0 0px var(--color-light),
  0 0 8px var(--color-light),
  0 0 20px var(--color-light);
  
  visibility: visible;
  opacity: 1;

  color: var(--color-light);
}


/* ------------------------------------ content ------------------------------------ */

.content-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: .35rem;
  
  transform: translateX(var(--translate-x)) translateY(var(--content-move-y));

  padding-left: 15%;

  width: var(--menu-width);
  min-height: 28rem;

  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  filter: opacity(var(--content-opacity));

  transition: all .2s;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.content-item {
  display: flex;
  flex-direction: column;

  border: none;
  padding: 0;
  
  min-width: 14rem;
  min-height: 14rem;
  width: 14rem;
  height: 14rem;

  transition: all .2s;
}

.content-item:hover {
  min-width: 22rem;
  min-height: 28rem;
  width: 22rem;
  height: 28rem;
}

.content-item-focused {
  display: flex;
  flex-direction: column;

  border: .2rem solid var(--color-light);
  padding: 0;

  min-width: 22rem;
  min-height: 28rem;
  width: 22rem;
  height: 28rem;
  
  transition: all .2s;
}

.content-item-thumbnail {
  margin: 0;
  padding: 0;

  flex: 0 0 100%;

  height: 100%;
  object-fit: cover;

  transition: all .05s;
}

.content-item:hover .content-item-thumbnail {
  flex: 0 0 85%;
}

.content-item-focused .content-item-thumbnail {
  flex: 0 0 85%;
}

.content-item-footer-container {
  visibility: hidden;
  height: inherit;

  display: flex;
  align-items: center;

  color: var(--color-light);
  background-color: #1e293b;

  transition: all .05s;
}

.content-item-footer-icon {
  width: 3rem;
  height: 3rem;

  opacity: 0;
}

.content-item-footer-text {
  font-weight: 200;
  font-size: 1.5rem;
  
  opacity: 0;
}

.content-item-focused .content-item-footer-container {
  visibility: visible;
}

.content-item-focused .content-item-footer-icon {
  animation: fadeInFromRight .2s forwards;
  animation-delay: .1s;
}

.content-item-focused .content-item-footer-text {
  animation: fadeInFromRight .2s forwards;
  animation-delay: .1s;
}

@keyframes fadeInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* ------------------------------------ content-info ------------------------------------ */

.contentinfo-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding-left: 12%;
  padding-right: 12%;
}

.contentinfo-item {
  visibility: collapse;
  opacity: 0;
}

.contentinfo-item-focused {
  visibility: visible;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem;
  padding-top: 3.5rem;

  width: inherit;

  opacity: 1;
  
  transition: visibility .5s, opacity .5s;
  transition-delay: .4s;
}

.contentinfo-item-title {
  width: 100%;
  border-bottom: 1px solid var(--color-light);
  
  padding-bottom: 1rem;

  font-size: 2rem;
}

.contentinfo-item-desc {
  font-size: 1.2rem;

  word-spacing: .1rem;
  letter-spacing: .05rem;
}
