@import "./responsive.css";

.page-transition-inner-exit {
  opacity: 1;
  transform: scale(1);
}

.page-transition-inner-exit-active {
  opacity: 0;
  transform: scale(1.2);

  transition: all .25s;
}

.page-transition-inner-enter {
  opacity: 0;
  transform: scale(1.2);
}

.page-transition-inner-enter-active {
  opacity: 1;
  transform: scale(1);

  transition: all .25s;
}


.page-transition-outer-exit {
  opacity: 1;
  transform: scale(1);
}

.page-transition-outer-exit-active {
  opacity: 0;
  transform: scale(.8);

  transition: all .25s;
}

.page-transition-outer-enter {
  opacity: 0;
  transform: scale(.8);
}

.page-transition-outer-enter-active {
  opacity: 1;
  transform: scale(1);

  transition: all .25s;
}

