@import "./responsive.css";

.app-screen {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  height: 100vh;
}

.header-container {
  transition: all .3s;
}

.menu-container {
  transition: all .3s;
}

.settings-active .header-container {
  opacity: 0;
}

.settings-active .menu-container {
  transform: scale(.8);
  opacity: 0;
}