@import "./global.css";

.btn {
  display: inline-block;
  padding: .5em 1em;
  border: 1px solid var(--color-light);

  text-decoration: none;
  letter-spacing: .05rem;
  
  text-shadow: 
    0 0 0px var(--color-light),
    0 0 5px var(--color-light),
    0 0 8px var(--color-light);
  box-shadow: none;

  color: var(--color-light);
  background: none;

  transition:
    color .1s,
    background-color .1s,
    text-shadow .1s,
    box-shadow .1s,
    border .1s;
}

.btn:hover {
  color: var(--color-slate800);
  background-color: var(--color-light);

  text-shadow: none;
  box-shadow: 
    0 0 0px var(--color-light),
    0 0 5px var(--color-light),
    0 0 8px var(--color-light);
}

.section {
  margin-top: 5rem;
}

